.btn {
  position: relative;
  padding: 13px 27px;
  transition: all 0.5s ease-in;
  border: 1px solid transparent;
}

.btn:focus {
  outline: none;
}

.btn-outlined {
  border: 1px solid #301b3f;
  background: transparent;
  color: #301b3f;
}

.btn-outlined:hover {
  background: #301b3f;
  color: #fff;
}

.btn-filled {
  background: #301b3f;
  color: #fff;
}

.btn-filled:hover {
  color: #301b3f;
  background: transparent;
  border: 1px solid #301b3f;
}
