.auth {
  height: 700px;
}

@media (max-width: 1024px) {
  .auth {
    height: 90vh;
  }
}

@media (max-width: 576px) {
    .auth {
      height: 95vh;
    }
  }

@media (max-width: 385px) {
  .auth {
    height: 99vh;
  }
}

@media (max-width: 340px) {
  .auth {
    height: 110vh;
  }
}

.auth__image-parent {
  top: -10%;
  height: 370px;
}

.auth__image-parent img {
  height: 370px;
}

.auth__form {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
