.auth {
  height: 700px;
}

@media (max-width: 1024px) {
  .auth {
    height: 90vh;
  }
}

@media (max-width: 576px) {
  .auth {
    height: 95vh;
  }
}

@media (max-width: 385px) {
  .auth {
    height: 99vh;
  }
}

@media (max-width: 340px) {
  .auth {
    height: 110vh;
  }
}

.auth__image-parent {
  top: -10%;
  height: 52vh;
}

.auth__image-parent img {
  height: 52vh;
}
