select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  border: 1px dashed #301b3f !important;
  transition: border 1s ease-in-out;
}

.dialog {
  width: 450px;
}

@media (max-width: 500px) {
  .dialog {
    width: 90%;
  }
}

.react-datepicker-popper {
  z-index: 30 !important;
}

.react-datepicker {
  font-family: "Quicksand", sans-serif !important;
}

.react-datepicker__input-container .border {
  border-color: none;
}

.react-datepicker__day--selected {
  background-color: rgba(48, 27, 63, 0.8) !important;
}

.react-datepicker__day--selected:hover {
  background-color: rgba(48, 27, 63, 1) !important;
}

.Toastify__toast-body {
  font-family: "Quicksand", sans-serif !important;
}

.z-9999 {
  z-index: 9999;
}

.z--9999 {
  z-index: -9999;
}
